<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

    <div class="container w-50 p-3 my-3 bg-dark text-white " >
        <h1>Login</h1>
    <form method="POST" action="/">
        <%if(error.length){%>
            <h3><%=error%></h3>                
        <%}%>
        <div class="mb-3">
          <label for="" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" value=<%=email%> >
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password"  name="password"class="form-control" >
        </div>

      
        <button type="submit" class="btn btn-primary">Login</button>
      </form>


 
    <p>you don't have an account?<a href="/signup">Signup</a></p>
</div>
</body>
</html>